body{
    font-family: sans-serif;
}
.border-head{
display: flex;
gap: 200px;
align-items: center;
}
header{display: flex;
    justify-content: space-around;
    align-items: center;

}
.imgh{
    display: flex;
    gap: 20px;
    align-items: center;
}
.first{
    border: 1px solid #D4D4D4;
    width: 330px;
    margin: auto;
}
.second{
    border: 1px solid #D4D4D4;
    margin-top: 30px;
}
.one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
button{
    background-color: #FF7715;
    padding: 15px;
    color: white;
    border-radius: 10px;
    border: 1px solid #FF7715;
}
.onlyi{
    margin-top: 30px;
    margin-left: 60px;
}
.fourp{
    display: flex;gap: 30px;align-items: center;
}
.seconds{
    border-bottom: 25px solid #FF0000;
    border-top: 25px solid #FF0000;
    border-right: 25px solid #FF0000;
    border-left: 25px solid #FF0000;
    height: 2000px;
}
.black1{
    height: 700px;
    background-color: rgb(31, 30, 30);
    margin-top: -50px;
    color: white;
}
.bor{
    border: 1px solid rgb(177, 172, 172);
    width: 70%;
    margin: auto;
}
.kak{
    font-size: 50px;
    font-weight: 700;
text-align: center;
}
.style{
    width: 90%;
    color: white;
    display: flex;
    gap: 30px;
  justify-content: center;
}
.re{
    width: 70%;
    margin: auto;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}
.square{
    width: 300px;
    height: 80px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.first-row{
    display: flex;
   justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
button.s{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    margin-left: 220px;
}
.skorost{
    font-size: 50px;
    width: 800px;
}
.s3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sqgrey{
    width: 400px;
    height: 140px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    margin-top: 20px;
}
.onerow{
    display: flex;
    gap: 10px;
}
.bigsq{
    width: 400px;
    height: 300px;
    border: 1px solid grey;
    position: relative;
    text-align: center;
}
.ab{
    position: absolute;
    top: 130px;
    left: 100px;
}
.big-one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
}
.picb{
    width: 810px;
    height: 230px;
}
.picl{
    width: 400px;
    height: 230px;
}
.sss{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.lastp{
  display: flex;
  gap: 10px;  
}
@media (max-width:510px) {
    .fourp{
        display: none;
    }
    .border-head{
        display: none;
    }
    .korzina{
        display: none;
    }
    .first{
        display: none;
    }
    .two{
        display: none;
    }
   
    .kak{
        width: 250px;
    }
    .style{
        display: flex;
        flex-wrap: wrap;
    }
    .black1{
       height: 1500px;
    }
    .first-row{
        display: flex;
        flex-direction: column;
    }
    button.s{
        width: 90%;
      margin: auto;
      margin-top: 30px;
      margin-left: 10px;
    }
    .skorost{
        width: 250px;
    }
   .bbbb{
    display: none;
   } 
   .t{
    display: none;
   }
   .seconds{
    height: 3900px;
    border: 0.1px solid red;
   }
   .big-one{
    display: flex;
    flex-direction: column;
   }
   .onerow{
    display: flex;
    flex-direction: column;
   }
   .sqgrey{
    width: 300px;
   }
   .bigsq{
    width: 320px;
    margin-top: 20px;
   }
   .rela{
    width: 300px;
   }
   .sss{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   }
   .picl{
    width: 160px;
   }
   .picb{
    width:330px ;
   }
}